.container {
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal {
  width: 400px;
  height: 400px;
  background-color: yellow;
}
